<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slot Machine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Slot Machine</h1>
        
        <form id="slotForm">
            <div class="input-group">
                <label for="deposit_amount">Amount to Deposit:</label>
                <input type="text" id="deposit_amount" name="deposit_amount" required>
            </div>
            <div class="input-group">
                <label for="bet_amount">Amount to Bet:</label>
                <input type="text" id="bet_amount" name="bet_amount" required>
            </div>
            
            <button type="button" id="spin-button">Spin</button>
        </form>

        
        <div class="slots">
            <span id="slot1" class="slot">?</span>
            <span id="slot2" class="slot">?</span>
            <span id="slot3" class="slot">?</span>
        </div>
        
        
        <p id="message"></p>
        
        <p id="balance">Balance: $100</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
